<!DOCTYPE html>
<html>
<head>
    <title>Fullscreen Video Viewer</title>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            overflow: hidden;
            background-color: black;
        }
        iframe {
            width: 100vw;
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
    <iframe id="video"
        src="{{ video_url }}"
        allowfullscreen
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        title="YouTube Video">
    </iframe>

    <script>
        const videoFrame = document.getElementById("video");
        const evtSource = new EventSource("/video-stream");

        evtSource.onmessage = function(event) {
            if (videoFrame.src !== event.data) {
                videoFrame.src = event.data;
            }
        };
    </script>
</body>
</html>
